#set ($message = "Hello World")
#set ($organization = $context.getOrganization())
$subscription.notifyInProgress({"log": "Organization Data Retrieved"})
{
  "accountId": "$input.accountId",
  "organization": "$organization.name"
  "offering": "$input.offering",
  "valueProposition": "$input.value_proposition",
  "message": "$message"
}
