#set ($message = "Hello World")
#set ($organization = $context.getOrganization())
{
  "accountId": "$input.accountId",
  "organization": "$organization.name"
  "offering": "$input.offering",
  "valueProposition": "$input.value_proposition",
  "message": "$message"
}
